
.container {
    display: flex;
}

.Border {
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 100%;
    border: rgb(0, 0, 0) double 10px;
}

.halaman-kosong {
    box-sizing: border-box;
    background-color: rgb(8, 216, 147);
    width: auto;
    height: 100%;
    border: rgb(0, 0, 0) solid 1px;
    padding-bottom: 600px;
}



.LoginForm {
    border: black solid 5px;
    width: 30%;
}

.input {
    display: block;
    justify-content: center;
    text-align: center;
}

.input input {
    padding: 10px;
    background-color: bisque;
    margin-bottom: 15px;
    font-size: 15px;
}

.input button {
    padding: 10px;
    background-color: bisque;
    font-size: 15px;
    box-shadow: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.input button:hover {
    background-color: rgb(242, 153, 43);
}

/* .Login {
    padding: 10px;
    background-color: bisque;
    font-size: 20px;
    box-shadow: 10px;
    width: 50px;
    margin: auto;
    border: black solid 2px;

} */

.input a {
    text-decoration-line: none;
    font-size: 15px;
    display: block;
}

.EmptyBox {
    display: block;
    background-color: rgb(8, 216, 147);
    border: black solid 4px;
    width: 300px;
    margin: 40px auto;
    padding-bottom: 100px;  
}


/* DashBoardCss */

.ContainerBoard {
    display: flex;
}

.box1 {
    border: black solid 5px;
    width: 20%;
    padding: 5px;
}

.BoxHijau {
    display: block;
    background-color: rgb(8, 216, 147);
    border: black solid 4px;
    width: auto;
    margin: auto;
    padding-bottom: 90px;   
}

.NavDash {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    margin-top: 50px;
}

.NavDash nav {
    text-align: center;
}

.NavDash button {
    padding: 10px;
    border: black solid 4px;
    margin-top: 20px;
    font-size: 20px;
    background-color: rgb(45, 205, 210);
    width: 150px;
    height: auto;
    transition: 0.5s;
}

.NavDash button:hover {
    transition: 0.5;
    background-color: rgb(27, 247, 255);
}

.BoxDash {
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 650px;
    border: rgb(0, 0, 0) solid 5px;
}